<?xml version="1.0" encoding="utf-8"?>
<!--
* Copyright 2010-2011 Research In Motion Limited.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" id="moimgur" 
        version="1.0.1" rim:header="RIM-Widget:rim/widget" 
        xmlns="http://www.w3.org/ns/widgets">
    <rim:navigation mode="focus" />
    <name>moimgur</name>
    <description>Imgur uploader for BlackBerry</description>

    <author href="https://github.com/dmkc">Dmitry Kichenko</author>
    <icon src="images/icon.png" /> 
    <content src="index.htm" />

    <access  uri="https://api.imgur.com" subdomains="true" />
    <feature id="blackberry.invoked" version="1.0.0" required="true" />
    <feature id="blackberry.io"   required="true" />
    <feature id="blackberry.app"  required="true" />

    <!-- Need access to user's file system -->
    <rim:permissions>
        <rim:permit>access_shared</rim:permit>
    </rim:permissions>

    <!-- Configure invoking -->
    <rim:invoke-target id="com.kichenko.moimgur.app">
        <type>APPLICATION</type>
        <filter>
            <action>bb.action.SHARE</action>
            <!--Allow sharing any image -->
            <mime-type>image/*</mime-type>
            <property var="uris" value="file://,data://local"/>
        </filter>
    </rim:invoke-target>
    <rim:invoke-target id="com.kichenko.moimgur.viewer">
        <type>VIEWER</type>
        <filter>
            <action>bb.action.SHARE</action>
            <!--Allow sharing any image -->
            <mime-type>image/*</mime-type>
            <property var="uris" value="file://,data://local"/>
        </filter>
    </rim:invoke-target>
    
</widget>
