<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" id="hexclock" version="1.1.0.0" rim:header="RIM-Widget:rim/widget" xmlns="http://www.w3.org/ns/widgets">
  <rim:navigation mode="focus" />
  <name>Hex Clock</name>
  <description>Time as a hex value</description>
  <author href="https://scrapps.org">SCrApps</author>
  <icon src="images/icon.png" />
  <content src="index.html" />
  <access uri="*" subdomains="true" />
	<feature id="blackberry.app" />
	<feature id="blackberry.app.event"/>
	<feature id="blackberry.system.event" />
	<feature id="blackberry.bbm.platform" />
	<feature id="blackberry.invoke" />
	<feature id="blackberry.invoke.card" />
	<feature id="blackberry.system" />
	<rim:permissions>
		<rim:permit>bbm_connect</rim:permit>
	</rim:permissions>
 <feature id="blackberry.app.orientation">
    <param name="mode" value="landscape" />
  </feature>
</widget>