<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.2.10.0" id="LifeClassic17a4f020e6f2fc7e7fbcaa9a6cf25e23">
	<name>LifeClassic</name>
	<description>Game of life (classic version)</description>
	<content src="indexbb10.html"/>
	<icon src="icon.png"/>
<feature id="blackberry.app"/> 
<feature id="blackberry.payment" />
<feature id="blackberry.invoke" version="1.0.0"/>  
<feature id="blackberry.identity" version="1.0.0"/>
<feature id="blackberry.ui.dialog" /> 
<feature id="blackberry.invoked" version="1.0.0" required="true" />
<rim:orientation mode="portrait"/>
<feature id="blackberry.app">
    <param name="orientation" value="portrait" />
</feature>
<author rim:copyright="Pawel Gorny 2012" href="http://pawelgorny.com/">PGUI</author>
	
</widget>